* {
    --primary-color: #1f1f1f;
    --secondary-color: #d62525;
    --accent-color: #5272ff;
    --background-color: #f4f3f3;
    font-family: 'GeneralSans', sans-serif;
}

body {
    background: var(--background-color);
    margin: 0 8rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding:0.5em;
    border: 0.5px solid var(--accent-color);
    border-radius: 8px;
}

.content {
    text-align: center;
    color: var(--primary-color);
}