* {
    --primary-color: #1f1f1f;
    --secondary-color: #d62525;
    --accent-color: #5272ff;
    --background-color: #f4f3f3;
    font-family: 'Helvetica', sans-serif;
}

body {
    background: var(--background-color);
    margin: 1rem 8rem;
}

h1 {
    font-size: 32px;
    color: var(--primary-color);
    margin: 0;
}

h2 {
    font-size: 24px;
    color: var(--primary-color);
    margin: 0;
}

h3 {
    font-size: 18px;
    color: var(--primary-color);
    margin: 0;
}

h4 {
    font-size: 16px;
    color: var(--primary-color);
    margin: 0;
}

h5 {
    font-size: 14px;
    color: var(--primary-color);
    margin: 0;
}

main {
    margin-top: 4rem;
}