:root {
    --primary-color: #1f1f1f;
    --secondary-color: #d62525;
    --accent-color: #5272ff;
    --background-color: #f4f3f3;
    font-family: 'Helvetica', sans-serif;
}

body {
    background: var(--background-color);
    margin: 1rem 8rem;
}

h1, h2, h3, h4, h5 {
  color: var(--primary-color);
  margin: 0;
}
h1 { font-size: 32px; }
h2 { font-size: 24px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }

main {
    margin-top: 4rem;
}